:root {
    --dark: #383838;
    --light-grey: #949494;
    --gold: #f0be5a;
    --red: #DB5461;
}


body {
    font-family: 'Russo', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--dark);
    color: white;
}

#etch-a-sketch {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}   

#Etch-Title {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: var(--gold)
}


#screen {
    display: grid;
    width: 400px;
    aspect-ratio: 1;
    background-color: white;
    margin-bottom: 1rem;
}

.dot {
    user-select: none;
}

#slider-container {
    width: 80%;
    text-align: center;
    margin: 1rem 0;
}

#sizeSlider {
    appearance: none;
    width: 100%;
    height: 1rem;
    border-radius: 1rem;
    background-color: var(--light-grey);
    box-shadow: inset 0 5px rgba(0,0, 0, 0.1);
    overflow: hidden;
}

#sizeSlider::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    aspect-ratio: 1;
    border-radius: 100%;
    border: 4px solid white;
    background: var(--red);
    box-shadow: -807px 0 0 800px var(--red);
}

#button-container {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    padding: 1rem;
    background-color: var(--dark);
    border: 2px solid white;
    border-radius: 10px;
}

button:hover {
    background-color: var(--light-grey);
}

#color-picker {
    appearance: none;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}

#color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

#color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
}


@media screen and (min-width: 700px) {

    body {
        font-size: 25px;
    }

    #screen {
        width: 700px;
        aspect-ratio: 1;
    }

    
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 18px;
    }

    #screen {
        width: 900px;
        aspect-ratio: 1;
    }
}